
/*Responsive mediaqueries for samllerscreens and mobiles(Specially for iphone SE)*/
#search-bar{
    max-width: 260px;

}
#city-dropdown{
    background-color: rgb(236, 191, 132);
}
@media (max-width:424px) {
    #search-bar{
        width: 6rem;
        padding: 2px;
        height: 40px;
        font-size: 12px;
    }
    #btn{
        width: 4rem;
        height: 40px;
        font-size: 12px;
    }
    *{
        font-size: 14px;
    }
    .displayDegree{
        font-size: 24px;
    }
    #city-dropdown{
        width: 10rem;
        font-size: 12px;
    }
    .add{
        font-size: 15px;
    }
}


